<h6><%= @ask %></h6>
<h6><em>-You</em></h6>




<h6
class="bg-warning p-2 text-dark bg-opacity-10"><strong><%=@answer %></strong>
<p><em>-Your Coach</em></p>
</h6>

<%= link_to "Ask another question?", ask_path %>
